/ProjekatCommon/nbproject/private/
/ProjekatKlijent/nbproject/private/
/ProjekatCommon/build/
/ProjekatZajednicki/nbproject/private/
/ProjekatZajednicki/build/
/ProjekatPSServer/nbproject/private/
/ProjekatPSZajednicki/nbproject/private/
/ProjekatPSKlijent/nbproject/private/
/ProjekatPSZajednicki/build/
/ProjekatPSZajednicki/dist/
/ProjekatPSServer/build/
/ProjekatPSServer/dist/
/ProjekatPSKlijent/build/